<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="styles.css")
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/vnd.microsoft.icon" href="./img/icons/favicon.ico")
    link(rel="icon" type="image/png" sizes="32x32" href="./img/icons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./img/icons/favicon-16x16.png")
    link(rel="manifest" href="/manifest.json")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="theme-color" content="#ffffff")
    title SipComfort
body
    #overlay
        .spinner
    header.site-header#home
        nav.main-nav: .container
            .main-nav__container
                .logo--header: img(src="./img/logo.png", alt="логотип сипкомфорт")
                .menu-icon: .menu-icon__middle
                nav.main-menu.main-menu--header
                    ul.main-menu__list
                        -var menu = ['Главная','Проекты', 'Цены', 'Технологии', 'Ответ', 'О компании','Контакты']
                        -var menuLinks = ['#home','#projects','#price','#techology','#feedback','#about', '#contacts']
                        - var link = ['homelink','projectslink','pricelink','technologylink','feedback','aboutlink','contactslink']
                        - var data = ['home', 'about','projects','price','technology','about', 'contact']
                            each item,key in menu
                                li.main-menu__item: a.main-menu__link(href=menuLinks[key] data-link=data[key] id=link[key])=menu[key]
        section.hero: .container
            .hero__container
                //- .hero__form
                    //- .hero__top
                    //-     .hero__build
                    //-         h3.hero__build-title Построим дом своей мечты вместе с СИПкомфорт
                    //-         p.hero__text Мы предлагаем нашим клиентам качественную и быструю постройку комфортабельных домов из СИП-панелей по вашим  и нашим проектам.
                    //-     .hero__info\
                    //-         h2.hero__action Звоните сейчас!
                    //-         p.hero__text.hero__text--nopd Мы готовы ответить<br> на все ваши вопросы
                    //-         span.hero__call +7 (4012) 40-01-80
                    //-         span.hero__call +7 (952) 112-03-04
                    //-         h2.hero__action или пишите
                    //-         span.hero__call sipkomfort@gmail.com
                    //- .hero__bottom
                    //-     h2.hero_65a447_action Наш адрес
                    //-     span.hero__call Московский проспект 182. офис 110
                    //-     .button__container
                    //-         a.button(href="#") Позвонить
                    //-         a.button(href="#") Написать

                //- .hero__motto
                //-     .hero__main-title Комфортные дома из сип-&nbsp;панелей от Производителя
                //-     .hero__main-text Строительство домов и разработка проектной документации «ПОД КЛЮЧ» постройте дом своей мечты

        section.features#about: .container
            .features__container
                .section__block
                    h4.section__title Комфортные <br>дома из<br><b>Сип-&nbsp;панелей</b>
                    p.section__text Преимущества строительства домов по технологии СИП-панелей
                
                .features__block
                    ul.features__list
                        li.features__item
                            .features__img
                                img.features__pic(src="./img/icons/house.svg" alt="строительство под ключ")
                            h3.features__title Строительство "под ключ"
                            p.features__text Строим каркасные дома «под&nbsp;ключ», разработка <br>проектной документации.

                        li.features__item
                            img.features__pic(src="./img/icons/currency.svg" alt="лучшие цены'")
                            h3.features__title Лучшие цены
                            p.features__text Гарантия лучших цен, отличное соотношения цены и качества
                            
                        li.features__item
                            img.features__pic(src="./img/icons/factory.svg" alt="строительство под ключ")
                            h3.features__title  Собственное производство
                            p.features__text Собственное производство СИП-&nbsp;панелей, гарантия качества.

                        li.features__item

                            img.features__pic(src="./img/icons/paint-roller.svg" alt="строительство под ключ")
                            h3.features__title Обустройство
                            p.features__text Оказываем помощь и услуги в&nbsp;обустройстве домов, отделке

                        li.features__item
                            img.features__pic(src="./img/icons/certificate.svg" alt="строительство под ключ")
                            h3.features__title Экологичные материалы
                            p.features__text Использвоание только экологичных материалов в&nbsp;производстве работ

                        li.features__item
                            img.features__pic(src="./img/icons/house(1).svg" alt="строительство под ключ")
                            h3.features__title Качество от производителей
                            p.features__text Гарантия качества материалов и работ

        section.project#projects
            .project__container
                .container
                article.project__item.project--all
                    .section__block.section__block--center
                        h4.section__title Популярные<br>проекты наших<br><b>Домов</b>
                        p.section__text Комфорт и качество наших домов гарантирован
                        a.button.button--section(href="#") Все проекты
                article.project__item.project--first
                    .project__description
                        .project__left
                            .project__name Проекты<br> Дачник 0029
                        .project__right
                            .project__square 126 m<sup>2</sup>
                            .project__price 710&nbsp;000&nbsp;РУБ
                    a.button.button--project(href="") Подробнее

                article.project__item.project--second
                    .project__description
                        .project__left
                            .project__name Проекты<br> Дачник 0029
                        .project__right
                            .project__square 126 m<sup>2</sup>
                            .project__price 710&nbsp;000&nbsp;РУБ
                    a.button.button--project(href="") Подробнее
                    
                article.project__item.project--third
                    .project__description
                        .project__left
                            .project__name Проекты<br> Дачник 0029
                        .project__right
                            .project__square 126 m<sup>2</sup>
                            .project__price 710&nbsp;000&nbsp;РУБ
                    a.button.button--project(href="#") Подробнее
                    
        section.advantages
            .advantages__bg
                img(src="./img/kitchen.png")
            .advantages__container
                .section__block.section__block--advantages
                    h4.section__title Преимущества домов из<br><b>Сип-&nbsp;панелей</b>
                    p.section__text Стротельство домов из СИП-панелей нетолько достаточно экономично, но также имеет ряд преимущества, по сравнению с традиционными технологиями:
                .advantages__block
                    ul.advantages__list
                        mixin advantages(imgURL,title,text, alt)
                            li.advantages__item
                                img.advantages__pic(src=imgURL alt=alt)
                                h3.advantages__title=title
                                p.advantages__text=text
                        +advantages('./img/icons/eco.svg','Экологичность',' Дома из СИП-панелей отвечают всем требованиям экологической безопасности. ОСП и пенополистирол — экологически чистые материалы. Дома из СИП-панелей гипоалергенны, в них могут проживать люди, страдающие от аллергии или астмы.','экологичность')
                        +advantages('./img/icons/house-idea.svg','Скорость возведения','Комплект дома предварительно изготавливается в цехе  и на место строительство привозится в виде готовых монтаж деталей: стен, перекрытий и кровли.Поэтому, мы можем обеспечить достаточно высокий темп строительства.','обустройство помещений')
                        +advantages('./img/icons/termo.svg','Термоизоляция','Дома из СИП очень энергоэффективны, что позволяет их хозяевам платить за отопление меньше, чем хозяевам обычных домов.Экономия может составлять до 45%.','термоизоляция')
                        +advantages('./img/icons/column.svg','Легкость отделки','СИП-панели представляют собой идеально ровные гладкие плоскости, в большинстве случаев требующие лишь финишной отделки без какой-либо предварительной подготовки')
        
        section.promo: .container
            .promo__container
                h2.promo__title Позвольте себе мечту&nbsp;- постройте свой свой собственный дом
                a.button(href="#") Написать нам
        
        section.excellence#techology: .container
            .excellence__container
                .excellence__left
                    .section__block.section__block--excellence
                        h4.section__title Преимущества домов из <b>Сип-панелей</b>
                        p.section__text Мы предлагаем нашим клиентам качественную и быструю постройку комфортабельных домов из СИП-панелей по вашим и нашим проектам. У нас есть большой выбор уже существующих проектов домов, так же мы измененим понравившийся вам проект по вашему желанию совершенно бесплатно. А если необходимо то разработаем новый проект с нуля или по вашим зарисовкам.
                        p.section__text У нас есть собственное производство СИП-панелей, поэтому панели всегда есть в наличии и под заказ в любом количестве.
                        p.section__text Наша стройгруппа способна решать вопросы не только монтажа в указанной комплектации «серого ключа», но и вести генподряд под «чистый ключ», включая изготовление ограждений участков, септиков, дренажных работ, планировки участков. А при необходимости наши партнеры изготовят вам лестницы и мебель под ваш интерер.
                        .button__container
                            a.button.button--small(href="#") Заказать
                .excellence__right
                    .excellence__bg
                        img.excellence__pic(src="./img/ex")
                    .excellence__description
                        .excellence__img: img(src="./img/sip.png" alt="сип-панель")
                        .excellence__description-content
                            h3.excellence__title Технология
                            p.excellence__text Структурно-Изолированная Панель (Structural Insulated Panel) — состоят из двух плит ОСП-3 (OSB-3) и теплоизолирующего слоя пенополистирола между ними.
                            p.excellence__text СИП-панели обладают высокой несущей способностью и высокими термоизоляционными свойствами. Использование СИП-панелей позволяет уменьшить тольщину стен, тем самым снизить нагрузку на фундамент. Также использование СИП-панелей позволяет вести строительство дома при отрицательных температурах, то есть практически круглогодично.
        
        section.news: .container
            .news__container
                .news__left
                    .section__block.section__block--news
                        h4.section__title Новости
                        p.section__text Новости и советы о строительстве<br>СИП-домов
                    table.table
                        tr.table__row
                            td.table__date 21 <sub>сен</sub>
                            td.table__tech Новые технологии СИП<br> <span>новости</span>
                            td.table__content Мы прелагаем нашим клиентам быструю постройку комфортабельных домов из СИП-панелей по вашим и нашим проектам. У нас есть большой выбор уже существующих проектов домов, так же мы измерим понравившийся вам проект по вашему желанию совершенно бесплатно.
                        tr.table__row
                            td.table__date 20 <sub>сен</sub>
                            td.table__tech Новые технологии СИП<br> <span>новости</span>
                            td.table__content Мы прелагаем нашим клиентам быструю постройку комфортабельных домов из СИП-панелей по вашим и нашим проектам. У нас есть большой выбор уже существующих проектов домов, так же мы измерим понравившийся вам проект по вашему желанию совершенно бесплатно.
                        tr.table__row
                            td.table__date 17 <sub>сен</sub>
                            td.table__tech Новые технологии СИП<br> <span>новости</span>
                            td.table__content Мы прелагаем нашим клиентам быструю постройку комфортабельных домов из СИП-панелей по вашим и нашим проектам. У нас есть большой выбор уже существующих проектов домов, так же мы измерим понравившийся вам проект по вашему желанию совершенно бесплатно.
                .news__right
                    .news_bg
                        img.news__pic(src="./img/news-bg.png")
        section.contacts#contacts: .container
            .contacts__wrapper
                .contacts__container
                    .section__block.section__block--contacts
                        h4.section__title Наши контакты
                        p.hero__action Адрес:
                        span.hero__call Московский проспект 182. офис 110
                        p.hero__action Телефон: 
                        span.hero__call +7 (4012) 40-01-80, +7 (952) 112-03-04
                        p.hero__action E-mail:
                        span.hero__call sipcomfort@gmail.com
                .contacts__map
                    .map

        footer.site-footer: .container
            .site-footer__container
                .logo--footer: img(src="./img/logo-footer.png")
                .site-footer__block
                    nav.main-menu.main-menu--footer
                        ul.main-menu__list.main-menu__list--footer
                            -var menu = ['Главная','Проекты', 'Цены', 'Технологии', 'Ответ', 'О компании']
                            -var menuLinks = ['#home','#projects','#price','#techology','#feedback','#about']
                                each item,key in menu
                                    li.main-menu__item.main-menu__item--footer: a.main-menu__link.main-menu__link--footer(href=menuLinks[key])=menu[key]
                    p.site-footer__text Мы предлагаем нашим клиентам качественную и быструю постройку комфортабельных домов из СИП-панелей по вашим и нашим проектам. Наша стройгруппа способна решать вопросы монтажа и вести генподряд под "чистый ключ".
                .site-footer__block
                    .socials
                        ul.socials__list
                            - var socials = ['./img/icons/fb.svg','./img/icons/g+.svg','./img/icons/tw.svg','./img/icons/in.svg']
                            - var socialsLink = ['http://facebook.com','http://google.com','http://twitter.com','http://instagramm.com']
                            - var socialsAlt = ['facebook','google','twitter','instagramm']
                                each item,key in socials
                                    li.socials__item
                                        a.socials__link(href=socialsLink[key])
                                            img.socials__img(src=socials[key] alt=socialsAlt[key])
                    .site-footer__author @katz cant read 2017

    script(src="menu.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAInlJhaeejW5su7EzLziC6gjj66jLrtd4&callback=initMap")